{
  "extends": [
    "plugin:react/recommended",
    "./node_modules/ericlint"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "error",
    "@typescript-eslint/await-thenable": "off",
    "@typescript-eslint/naming-convention": "off"
  },
  "parserOptions": {
    "project": "tsconfig.eslint.json"
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
